:root {
    --serie-color: lightgoldenrodyellow;
}

body {
    background-color: lightgray;
}

.tabela {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.elemento {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
}

.elemento-vazio {
    width: 70px;
    height: 70px;
}

.simbolo {
    font-size: 25px;
    font-weight: bold;
}

.numero {
    /* Como faço para posicionar o número no canto superior esquerdo? */
    /* Se eu diminuir o tamanho do símbolo, o número não fica no canto superior */
    /* Posiciona na esquerda */
    /* margin-bottom: auto; */
    align-self: flex-start;
    font-size: 12px;
}

.nome {
    font-size: 10px;
}

.massa {
    font-size: 12px;
}

.espaco {
    height: 20px;
}

#metais-pesados .simbolo {
    color: var(--serie-color);
}

#hidrogenio {
    background-color: white;
}

.row:nth-child(n+2) .elemento:nth-child(1) {
    background-color: lightcoral;
}

.row:nth-child(n+2):nth-child(-n+7) .elemento:nth-child(n+13):nth-child(-n+17) {
    background-color: lightsalmon;
}

/* Por causa da especificidade, quanto mais específico o comando, maior a prioridade. Primeiro especificidade */
/* A ordem é o último tópico de prioridade */
.row .elemento:nth-child(2),
/* Por que não posso só fazer row:nth-child(3)? */
/* Por causa da especificidade. Primeiro especificidade */
.row:nth-child(3):nth-child(-n+4) .elemento:nth-child(n+13):nth-child(-n+13),
/* Por que não posso só fazer row:nth-child(4)? */
.row:nth-child(4):nth-child(-n+4) .elemento:nth-child(n+13):nth-child(-n+14),
/* Por que não posso só fazer row:nth-child(5)? */
.row:nth-child(5):nth-child(-n+5) .elemento:nth-child(n+13):nth-child(-n+15),
.row:nth-child(n+6):nth-child(-n+7) .elemento:nth-child(n+13):nth-child(-n+16) {
    background-color: lightgreen;
}

.row:nth-child(n+2):nth-child(-n+5) .elemento:nth-child(n+3):nth-child(-n+12),
.row:nth-child(n+6):nth-child(-n+7) .elemento:nth-child(n+4):nth-child(-n+12) {
    background-color: lightseagreen;
}

/* .row:nth-child(5):nth-child(-n+7) .elemento:nth-child(n+13):nth-child(-n+15) {
    background-color: blue;
} */

.row:nth-child(-n+7) .elemento:nth-child(18) {
    background-color: slategray;
}

.row:nth-child(n+6):nth-child(-n+7) .elemento:nth-child(3),
.row:nth-child(n+9):nth-child(-n+10) .elemento {
    background-color: var(--serie-color);
}

.metal {
    /* Coloca uma altura em na div.metal */
    /* Dessa maneira não preciso colocar uma letra e colorir com a cor de fundo */
    height: 28px;
}